@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    
</div>
<div class="text-center">
    <h1 class="display-4">This is Athentication and Autherization App</h1>

</div>
